 <%= render 'shared/banner_other' %>

 <div class="container container_user_profile">

  <div class="about_user row">

    <div class="profile_pict col-xs-12 col-sm-6 col-lg-5">
      <!-- <img url="https://yt3.ggpht.com/a-/ACSszfGxjQ2zoNjyn0zAtB4SZGHo0eBjQ_tbSO4Xaw=s900-mo-c-c0xffffffff-rj-k-no" class="img-rounded" alt="Cinque Terre"> -->
      <%= @user.photo.url.nil? ? image_tag("https://avatars3.githubusercontent.com/u/39048473?v=4", class: "user-avatar") : cl_image_tag(@user.photo, class: "user-avatar") %>
      <%#= @user.photo.url.nil? ? cl_image_tag("stanislav-rabunski-642169-unsplash.jpg") : cl_image_tag(@user.photo)%>
    </div>


    <div class="profile_information col-xs-12 col-sm-6 col-lg-5">
      <h3> <%= current_user.username %> </h3>
      <p>Email: <%= @user.email %></p>
      <p>Address: <%= @user.address %></p>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn_edit"%>
    </div>

  </div>
  <hr>



  <div class="user_interest post-show">
    <div class="row" >
      <div class="col-xs-6">
        <h4> Your interests </h4>
      </div>

    </div>

    <div>

      <% current_user.tags.each do |tag| %>
       <div class="btn_interests btn"><%=link_to tag.name.capitalize %></div>
      <% end %>
    </div>
  </div>

  <br>
  <div>
    <%= simple_form_for [current_user, @user_tag] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <%= f.select :tag_id, Tag.all.map { |i| [i.name, i.id ] } %>
          <%= f.button :submit, "Add interest", class: "add-interest" %><i class="fas fa-plus-circle"></i>
      <% end %>
    </div>

  <hr>
    <div class="user_saved_gems post-show">
      <h4>Your Favorites Gems</h4>

  <div class="lalalalal">
      <div class="card_block">
        <% if current_user.favorites.exists? %>
        <% current_user.favorites.each do |favorite| %>


        <div class="card user" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= favorite.post.photo.nil? ? cl_image_path("stanislav-rabunski-642169-unsplash.jpg") : cl_image_path(favorite.post.photo)%>);">

          <%= link_to post_favorite_path(favorite.post, favorite), method: :delete do %>
            <i class="fas fa-heart saved"></i>
          <% end %>

          <div class="card-category-description-location">
            <div class="card-category"><%= favorite.post.category.capitalize %></div>
            <div class="card-description">
              <%= link_to favorite.post.title.capitalize, post_path(favorite) %>
            </div>
            <div class="card-location">
              <i class="fas fa-map-marker-alt"></i> <%= favorite.post.city %>
            </div>
          </div>

          <div class="card-rating-status">
            <div>
              <% if favorite.post.status == "temporary" %>
                <i class="far fa-clock"></i>
              <% end %>
            </div>

              <% if favorite.post.average != "No ratings" %>
                <% favorite.post.average.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              <% end %>
          </div>

        </div>
        <% end %>
        <% else %>
        <% "Add you favorites :) " %>
        <% end %>
      </div>
    </div>
  </div>


  <hr>
  <div class="user_gems post-show">
    <h4> Your gems </h4>
      <div class="card_block">
        <% if current_user.posts.create! %>
        <% else  %>
        <% end %>

      </div>
    </div>

  </div>



