<%= render "shared/banner_color" %>

<div class="content">
  <div class="container">
    <h1 class="post-show">Your local gems</h1>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

              <% if post.favorites.where(user_id: current_user)[0].blank? || post.favorites.where(user_id: current_user)[0].nil?%>
                <%= link_to post_favorites_path(post), method: :post do %>
                  <i class="far fa-heart saved"></i>
                <% end %>
              <% else %>
                <% hey = post.favorites.where(user_id: current_user)[0].id %>
                <%= link_to post_favorite_path(post, hey), method: :delete do %>
                  <i class="fas fa-heart saved"></i>
                <% end %>
              <% end %>

        <!-- <i class="fas fa-heart saved"></i> -->

          <%= link_to post_path(post) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= post.photo.url.nil? ? cl_image_path("stanislav-rabunski-642169-unsplash.jpg") : cl_image_path(post.photo)%>);">
              <div class="card-category-description-location">
                <div class="card-category"><%= post.category.capitalize %></div>
                <div class="card-description">
                  <%= post.title.capitalize%>
                </div>
                <div class="card-location">
                  <i class="fas fa-map-marker-alt"></i> <%= post.city %>
                </div>
              </div>


              <div class="card-rating-status">
                <div>
                  <% if post.status == "temporary" %>
                    <i class="far fa-clock"></i>
                  <% end %>
                </div>
                <div>
                  <% if post.average != "No ratings" %>
                    <% post.average.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 100%; " data-markers="<%= @markers.to_json %>">
  </div>
</div>

<!-- end of irma's code -->
<!-- It's not only Irma's any more :p -->


<!-- <div class="content">
  <div class="cards-container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: url(../images/mojito.jpg)">
          <%= link_to post.title, post_path(post) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div> -->
