 <%= render 'shared/banner_posts_show' %>
 <br>

 <div class="col-xs-12 col-sm-6 col-lg-6" id="left-block">

  <div>
   <%= link_to new_post_report_path(@post) do %>
   <i class="fas fa-flag" title="report this post"></i>
   <% end %>
  </div>

  <div class="post-info">
    <h3 id="category"> <%= @post.category %> </h3>
    <h1 id="title"> <%= @post.title %> </h1>

    <h4> <i class="fa fa-map-marker-alt"></i> <%= @post.city %> </h4>
  </div>

  <!-- tags -->

  <div>
    <% @post.tags.each do |tag| %>
       <div class="btn_interests btn"><%= tag.name.capitalize %></div>
      <% end %>
  </div>
    <p></p>
    <p> <%= @post.description %> </p>


  </div>

  <div class="col-xs-12 col-sm-6 col-lg-5">
     <div class="reviews-box">
      <div class="reviews-content">
        <div class='review-title'>
        <h4> Reviews
          <% if @average != "No ratings" || @average.nil? %>
          <% @average.times do %>
          <i class="fas fa-star"> </i>
          <% end %>
          (<%= @post.reviews.count %>)
          <% end %>
        </h4>
        <button class='btn_reviews'> See all</button>
      </div>


        <div  id="reviews-list">
          <% @post.reviews.each do |review| %>
          <div class="hide-2">
            <hr>
            <p> <%= review.user.email %> <br>
              <%= review.created_at.strftime("%d %B %Y") %>
              &nbsp;
              <% review.rating.times do %>
              <i class="fas fa-star"> </i>
              <% end %>
              &nbsp;
              <%= link_to like_post_review_path(@post, review), method: :put do %>
              <i class="fas fa-thumbs-up"></i>
              <%= review.get_upvotes.size %>
              <% end %>
            </p>
            <p><%=review.description %></p>
          </div>
          <% end %>
        </div>
        <hr>
        <%= link_to "Review this gem", new_post_review_path(@post) %>
      </div>
    </div>
  </div>

