<% reviews.each do |review| %>
  <h4><%=review.description %></h4>
  <p>  posted <%= time_ago_in_words(review.created_at) %>
    ago by <%= review.user.email %></p>
  <ul>
    <li style="list-style-type: none">
      <%= link_to like_post_review_path(@post, review), method: :put do %>
        <i class="fas fa-gem"></i>
        <%= review.get_upvotes.size %>
      <% end %>
    </li>
  </ul>
<% end %>
