<div>
  <%= simple_form_for([current_user, user_tag], remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.select :tag_id, Tag.all.map { |i| [i.name, i.id ] } %>
    <%= f.button :submit, "Add interest", class: "add-interest" %><i class="fas fa-plus-circle"></i>
  <% end %>
</div>
